body {
    height: 100vh;
    margin: 0;
    padding: 0;
    background-color: rgb(48, 48, 48);
    color: white;
    font-family: 'Montserrat', sans-serif;
}

li {
    cursor: pointer;
}
  
button {
    cursor: pointer;
}

input {
    cursor: pointer;
}

::placeholder{
    color: white;
}