@import url(./generic-styles.css);
@import url(./column-styles.css);
@import url(./modal-styles.css);

#columns-container{
  display: flex;
  overflow-x: visible;
}

.header{
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
  width: 100vw;
}

.footer{
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  font-family: 'Courier New', Courier, monospace;
  width: 100vw;
}

.container{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  height: 80vh;
  overflow-x: auto;
}

.container::-webkit-scrollbar{
  display: none;
}

.create-new-column input{
  height: 2rem;
  padding: 0.5rem;
  margin-top: 1rem;
  margin-left: 1rem;
  margin-right: 1rem;
  border-radius: 5px;
  border-style: none;
  color: white;
  background-color: gray;
}

.add-task-and-tasks-container{
  display: flex;
  flex-direction: column;
}