body {
  margin: 0;
  padding: 0;
  background-color: rgb(48, 48, 48);
  color: white;
  font-family: 'Montserrat', sans-serif;
}

div {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
